* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  border: 7px solid blue;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
body > * {
  border: 7px solid blue;
  padding: 15px;
  padding-bottom: 25px;
}
#goals {
  grid-area: 1/1/2/2;
  margin: -1px;
}
#team {
  grid-area: 1/2/2/3;
  margin: -1px;
}
#timeline {
  grid-area: 1/3/3/4;
  margin: -1px;
}
#scopes {
  grid-area: 2/1/3/2;
  margin: -1px;
}
#primary {
  grid-area: 2/2/3/3;
  margin: -1px;
}
h1 {
  font-size: 30px;
  color: blue;
  font-weight: bolder;
  border-bottom: 1px solid black;
}
.flag {
  font-size: 35px;
  align-self: center;
  padding-left: 4vw;
  padding-right: 4vw;
}
.content {
  padding: 7px 0;
}
#goals > div {
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
.title {
  font-weight: bold;
}
.in-out {
  width: 50%;
  padding-right: 5vw;
}
#team img,
#primary img {
  width: 100%;
}
#timeline > nav {
  margin: 20px;
  position: relative;
  padding-left: 40px;
  border-bottom: 2px dashed lightskyblue;
}
#timeline a {
  text-decoration: none;
  color: black;
}
.Pj01::before {
  background-color: blueviolet;
  position: absolute;
  color: white;
  padding: 7px 9px;
  content: "01";
  border: 1px solid black;
  border-radius: 50%;
  left: -10px;
}
.Pj02::before {
  background-color: blueviolet;
  position: absolute;
  color: white;
  padding: 7px 9px;
  content: "02";
  border: 1px solid black;
  border-radius: 50%;
  left: -10px;
}
.Pj03::before {
  background-color: blueviolet;
  position: absolute;
  color: white;
  padding: 7px 9px;
  content: "03";
  border: 1px solid black;
  border-radius: 50%;
  left: -10px;
}
.Pj04::before {
  background-color: blueviolet;
  position: absolute;
  color: white;
  padding: 7px 9px;
  content: "04";
  border: 1px solid black;
  border-radius: 50%;
  left: -10px;
}
.Pj05::before {
  background-color: blueviolet;
  position: absolute;
  color: white;
  padding: 7px 9px;
  content: "05";
  border: 1px solid black;
  border-radius: 50%;
  left: -10px;
}
.Pj06::before {
  background-color: blueviolet;
  position: absolute;
  color: white;
  padding: 7px 9px;
  content: "06";
  border: 1px solid black;
  border-radius: 50%;
  left: -10px;
}
.Pj07::before {
  background-color: blueviolet;
  position: absolute;
  color: white;
  padding: 7px 9px;
  content: "07";
  border: 1px solid black;
  border-radius: 50%;
  left: -10px;
}
