@media screen and (max-width: 992px) {
  #job-info > .container {
    grid-template-columns: repeat(2, 1fr);
  }
  #certificate img {
    height: 150px;
  }
  .certificate-content {
    padding-left: 0px;
  }
  section > .container {
    padding: 30px 0;
  }
  section > .container {
    line-height: 20px;
    font-size: 14px;
  }
  #footer li {
    font-size: 17px;
  }
  #footer i {
    font-size: 30px;
  }
}
